@media screen and (max-width: 768px) {
  .contact-page {
    flex-direction: column-reverse;
  }
  .githubprofile {
    width: -webkit-fill-available !important;
  }
}
.contact {
  background-color: var(--gray-50);
  color: var(--headding-color);
}
.btn-rounded {
  background-color: var(--send-btn);
  color: var(--send-btn-color);
}
.githubprofile {
  width: auto;
  height: 68%;
  padding-bottom: 10px;
}
