<div class="skills pt-5 container-fluid">
    <div class="container">
        <div class=" text-center"><button class="btn skills-btn">skills</button></div>
        <p class="text-center mt-2 skill-desc">The skills, tools and technologies I am really good at:</p>
        <div class=" all-skill-icons row">
            <div class="icon  col-3 ">
                <img src="assets/images/skills/icon-javscript.svg" alt="">
            </div>
            <div class="icon  col-3">
                <img src="assets/images/skills/icon-typescript.svg" alt="">
            </div>

            <div class="icon col-3">
                <img src="assets/images/skills/css-svgrepo-com.svg" alt="">
            </div>
            <div class="icon col-3">
                <img src="assets/images/skills/figma-svgrepo-com.svg" alt="">
            </div>
            <div class="icon col-3">
                <img src="assets/images/skills/git-svgrepo-com.svg" alt="">
            </div>
            <div class="icon col-3">
                <img src="assets/images/skills/react-svgrepo-com.svg" alt="">
            </div>
            <div class="icon col-3">
                <img src="assets/images/skills/ng-controller-js-svgrepo-com.svg" alt="">
            </div>
            <div class="icon col-3">
                <img src="assets/images/skills/php-fill-svgrepo-com.svg" alt="">
            </div>

        </div>

    </div>
</div>