<!-- <div class="footer pt-5">
    <div class="container">
        <div class="footer-btn text-center"><button class="btn">Get in touch</button></div>
        <div class="all-detail text-center mt-3">
            <p class="footer-text">What’s next? Feel free to reach out to me if you're looking for a
                developer, have a
                query, or simply want
                to connect.</p>
            <div class="mt-5">
                <p class="email"> &nbsp; <img src="assets/images/footer/email-1-svgrepo-com.svg"
                        alt="hidayat-email">meerhidayat563@gmail.com &nbsp; <img
                        src="assets/images/footer/copy-svgrepo-com.svg" alt="hidayat-email" class="btn">
                <p class="phone"> &nbsp; <img src="assets/images/footer/call-receive-svgrepo-com.svg"
                        alt="hidayat-phone">+91,6005507133
                    &nbsp; <img src="assets/images/footer/copy-svgrepo-com.svg" alt="hidayat-phone-icon" class="btn">
                </p>

                <p class="contact-icons">You may also find me on these platforms!</p>
            </div>
        </div>

    </div>
</div> -->
<div class="copy-right pt-5 pb-2 ">
    <p class="text-center"> &copy; 2023 | Designed and coded with <span>❤️️</span> by Hidayat Ali</p>
</div>