<div class="hero  container-fluid">

    <!-- <div class="video-container">
        <video id="myVideo" width="100%" height="80%" autoplay>
            <source src="assets/videos/hero/hidayat_intro.mp4" type="video/mp4">
        </video>
        <button id="playButton" (click)=" togglePlayPause()"></button>
    </div> -->


    <div class="container">
        <div class="row mobile-view-hero">
            <div class="bio col-sm-12 col-md-12 col-lg-8">
                <div class="">
                    <div class="d-flex">
                        <h1 class="name animate-my-name">Hi, I’m Hidayat </h1>
                        <div class="overflow-hidden">
                            <h2 class="name salam px-3">👋</h2>
                        </div>
                    </div>
                    <div class="overflow-hidden">
                        <p class="bio-text px-1">I'm a full stack developer with a focus on
                            creating
                            (and
                            occasionally designing)
                            exceptional digital experiences that are fast, accessible, visually appealing, and
                            responsive.
                            Even
                            though I have been creating web applications for over 3 years, I still love it as if it was
                            something new.</p>
                    </div>

                </div>
                <div class="address overflow-hidden">
                    <div class="animate-address ">
                        <p class="personal-address"><img src="assets/images/hero/location.svg"
                                alt="Hidayat ali Location-icon"> Kashmir,Srinagar
                        </p>
                        <div class="d-flex availability">
                            <div class="dot"></div>
                            <span class="status">

                                Available for new projects
                            </span>
                        </div>
                    </div>
                </div>
                <div class="social-icons mt-5 d-flex gap-3">
                    <div class="icon">
                        <a href="https://github.com/Hidayat-Ali" target="_blank"> <img
                                src="assets/images/hero/github.svg" alt=" Hidayat ali Mir git-icon"></a>
                    </div>
                    <div class="icon">
                        <a href="https://www.linkedin.com/in/hidayat-ali-7806271b7/" target="_blank"><img
                                src="assets/images/hero/linkedin.svg" alt="Hidayat ali Mir git-icon"></a>
                    </div>
                    <div class="icon">
                        <a href="#"><img src="assets/images/hero/instagram.svg" alt="Hidayat ali Mir git-icon"></a>
                    </div>
                    <div class="icon">
                        <a href="#"><img src="assets/images/hero/facebook.svg" alt="Hidayat ali Mir git-icon"></a>
                    </div>
                </div>
            </div>
            <div class="photo col-sm-12 col-md-12 col-lg-4">
                <div class="img">

                    <img src='/assets/images/hero/hidayat2.jpeg ' alt="Hidayat ali photo"
                        class="img-fluid hero-img show-mobile  ">
                    <img src='https://images.pexels.com/photos/14921244/pexels-photo-14921244.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load" '
                        alt="Hidayat ali photo" class="img-fluid hero-img show-desktop">


                </div>
            </div>
        </div>
    </div>
</div>