<div class='demo-wrapper py-5'>
    <div class="text-center py-2"><button class="btn latest-btn">Magics (SH)</button></div>
    <section class='demo-text'>
        <div class='wrapper text'>
            Let's&nbsp;see&nbsp;something&nbsp;today&nbsp;S&nbsp;H!

        </div>
    </section>
    <section class='demo-gallery'>
        <ul class='wrapper'>
            <li>
                <img height='874'
                    src='https://images.pexels.com/photos/14921246/pexels-photo-14921246.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load'
                    width='1240'>
            </li>
            <li>
                <img height='874'
                    src='https://images.pexels.com/photos/14921245/pexels-photo-14921245.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load'
                    width='1240'>
            </li>
            <li>
                <img height='874'
                    src='https://images.pexels.com/photos/14921244/pexels-photo-14921244.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load'
                    width='1240'>
            </li>
        </ul>
    </section>
    <section class='demo-gallery'>
        <ul class='wrapper'>
            <li>
                <img height='874'
                    src='https://images.pexels.com/photos/13952902/pexels-photo-13952902.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load'
                    width='1240'>
            </li>
            <li>
                <img height='874'
                    src='https://images.pexels.com/photos/13952898/pexels-photo-13952898.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load'
                    width='1240'>
            </li>
            <li>
                <img height='874'
                    src='https://images.pexels.com/photos/13952889/pexels-photo-13952889.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load'
                    width='1240'>
            </li>
            <li>
                <img height='874' src='https://source.unsplash.com/random/1240x874?sig=144' width='1240'>
            </li>
        </ul>
    </section>
    <section class='demo-gallery'>
        <ul class='wrapper'>
            <li>
                <img height='874'
                    src='https://images.pexels.com/photos/7837649/pexels-photo-7837649.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load'
                    width='1240'>
            </li>
            <li>
                <img height='874'
                    src='https://images.pexels.com/photos/7837652/pexels-photo-7837652.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load'
                    width='1240'>
            </li>
            <li>
                <img height='874' src='https://source.unsplash.com/random/1240x874?sig=45' width='1240'>
            </li>
        </ul>
    </section>
    <section class='demo-gallery'>
        <ul class='wrapper'>
            <li>
                <img height='874' src='https://source.unsplash.com/random/1240x874?sig=125' width='1240'>
            </li>
            <li>
                <img height='874' src='https://source.unsplash.com/random/1240x874?sig=96' width='1240'>
            </li>
            <li>
                <img height='874' src='https://source.unsplash.com/random/1240x874?sig=32' width='1240'>
            </li>
        </ul>
    </section>
    <section class='demo-text'>
        <div class='wrapper text'>
            ILOVECODINGANDTAKINGTEA
        </div>
    </section>

</div>