<div class='demo-wrapper py-5'>
    <div class="text-center py-2"><button class="btn magics-btn">Magics (SH)</button></div>
    <section class='demo-text'>
        <div class='wrapper text'>
            Let's&nbsp;see&nbsp;something&nbsp;today&nbsp;S&nbsp;H!

        </div>
    </section>
    <section class='demo-gallery'>
        <ul class='wrapper'>
            <li>
                <img src='assets/images/magics/jkrozgar.png'>
            </li>
            <li>
                <img src='assets/images/magics/kumar.png'>
            </li>
            <li>
                <img src='assets/images/magics/utube.png'>
            </li>
        </ul>
    </section>
    <section class='demo-gallery'>
        <ul class='wrapper'>
            <li>
                <img src='assets/images/magics/jkrozgar.png'>
            </li>
            <li>
                <img src='assets/images/magics/sh.png'>
            </li>
            <li>
                <img src='assets/images/magics/utube.png'>
            </li>
        </ul>
    </section>
    <section class='demo-gallery'>
        <ul class='wrapper'>
            <li>
                <img src='assets/images/magics/jkrozgar.png'>
            </li>
            <li>
                <img src='assets/images/magics/sh.png'>
            </li>
            <li>
                <img src='assets/images/magics/utube.png'>
            </li>
        </ul>
    </section>
    <section class='demo-gallery'>
        <ul class='wrapper'>
            <li>
                <img src='assets/images/magics/jkrozgar.png'>
            </li>
            <li>
                <img src='assets/images/magics/kumar.png'>
            </li>
            <li>
                <img src='assets/images/magics/utube.png'>
            </li>
        </ul>
    </section>
    <section class='demo-text'>
        <div class='wrapper text'>
            ILOVECODINGANDTAKINGTEA
        </div>
    </section>

</div>