<div class='demo-wrapper py-5'>
    <div class="text-center py-2"><button class="btn magics-btn">Magics (SH)</button></div>
    <!-- <section class='demo-text'>
        <div class='wrapper text '>
            Coding&nbsp;at ❤️

        </div>
    </section> -->

    <!-- <div class="body--container">
        <div class="text">{{ currentQuote }}</div>
        <div class="bubble--container">
            <div class="bubble bubble--large"></div>
            <div class="bubble bubble--one"></div>
            <div class="bubble bubble--two"></div>
            <div class="bubble bubble--three"></div>
        </div>
    </div> -->

    <!-- <section class='demo-gallery'>
        <ul class='wrapper'>
            <li>
                <img src='assets/images/magics/jkrozgar.png'>
            </li>
            <li>
                <img src='assets/images/magics/sh.png'>
            </li>
            <li>
                <img src='assets/images/magics/utube.png'>
            </li>
        </ul>
    </section> -->
    <!-- <section class='demo-gallery'>
        <ul class='wrapper'>
            <li>
                <img src='assets/images/magics/jkrozgar.png'>
            </li>
            <li>
                <img src='assets/images/magics/kumar.png'>
            </li>
            <li>
                <img src='assets/images/magics/utube.png'>
            </li>
        </ul>
    </section> -->


</div>