:root {
  font-size: 16px;
}
@media (max-width: 500px) {
  :root {
    font-size: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: var(--gray-200);
  color: var(--gray-50);
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 2rem;
}

img {
  width: 100%;
  height: auto;
  background: var(--gray-200);
}

ul {
  padding-left: 1rem;
  list-style: none;
}

li {
  flex-shrink: 0;
  width: clamp(500px, 60vw, 800px);
  padding-right: 1rem;
}

.df {
  display: flex;
}
.aic {
  align-items: center;
}
.jcc {
  justify-content: center;
}

.demo-wrapper {
  overflow-x: hidden;
  background-color: var(--gray-200);
}

.wrapper {
  display: flex;
}

.demo-gallery:not(.last) {
  padding-bottom: 1rem;
}

.demo-text .text {
  font-size: clamp(8rem, 15vw, 16rem);
  line-height: 1;
  font-weight: 900;
  color: var(--headding-color);
}

.magics-btn {
  border-radius: 12px;
  background: var(--button-color);
  margin-bottom: 10px;
  padding: 4px 20px;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  color: var(--gray-600);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  position: relative;
  display: inline-block;
  border: none;
  cursor: pointer;
  overflow: hidden;
}

.magics-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    transparent 30%,
    rgba(255, 255, 255, 0.8) 70%,
    transparent 100%
  );
  animation: waveAnimation 2s linear infinite;
}

@keyframes waveAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
