<div class="work">
    <h1 class="text-center project-heading"> My All Projects</h1>
    <div class="showCase ">
        <section class="dark">
            <div class="container py-4">


                <article class="postcard dark blue">
                    <a class="postcard__img_link" href="#">
                        <img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
                    </a>
                    <div class="postcard__text">
                        <h1 class="postcard__title blue"><a href="#">KUMAR WORLD</a></h1>
                        <div class="postcard__subtitle small">
                            <p><i>Developed By</i>: Hidayat Ali</p>
                        </div>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">Kumar Properties' website, meticulously crafted from scratch
                            using Angular and infused with dynamic animations courtesy of GSAP, offers visitors a
                            seamless blend of innovation and creativity. With Angular's robust framework ensuring high
                            performance across devices, and GSAP's captivating animations enhancing user engagement, the
                            website stands as a testament to the company's commitment to excellence in both technology
                            and design. It's a digital showcase of Kumar Properties' vision, captivating visitors with
                            its immersive experience and reflecting the brand's dedication to pushing boundaries in the
                            real estate industry.</div>
                        <ul class="postcard__tagbox">
                            <li class="tag__item"><i class="fas fa-tag mr-2"></i>Anuglar JS</li>
                            <li class="tag__item"><i class="fas fa-clock mr-2"></i>HTML</li>
                            <li class="tag__item play blue">
                                <a href="#"><i class="fas fa-play mr-2"></i>CSS</a>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="postcard dark red">
                    <a class="postcard__img_link" href="#">
                        <img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title" />
                    </a>
                    <div class="postcard__text">
                        <h1 class="postcard__title red"><a href="#">PORTFOLIO</a></h1>
                        <div class="postcard__subtitle small">
                            <p><i>Developed By</i>: Hidayat Ali</p>
                        </div>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">Welcome to my portfolio, a testament to my proficiency in
                            crafting dynamic web experiences. Powered by React.js and employing the Context API for
                            seamless state management, every element on this site is designed to engage and impress.
                            Framer Motion adds a touch of elegance with smooth animations, while Material UI ensures a
                            polished and user-friendly interface. Each project showcases my knack for turning ideas into
                            functional, visually appealing solutions. From responsive applications to interactive UI/UX
                            designs, explore a diverse range of work that reflects my dedication to creating standout
                            digital experiences.</div>
                        <ul class="postcard__tagbox">
                            <li class="tag__item"><i class="fas fa-tag mr-2"></i>FULLY WRITTEN IN JAVASCRIPT</li>
                        </ul>
                    </div>
                </article>
                <article class="postcard dark green">
                    <a class="postcard__img_link" href="#">
                        <img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title" />
                    </a>
                    <div class="postcard__text">
                        <h1 class="postcard__title green"><a href="#">Blog Api</a></h1>
                        <div class="postcard__subtitle small">
                            <p><i>Developed By</i>: Hidayat Ali</p>
                        </div>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt"> crafted a sleek and powerful blog API application by
                            seamlessly integrating Laravel and ReactJS. With a captivating interface, users can navigate
                            effortlessly through a wealth of content. Leveraging JWT authentication ensures top-notch
                            security, giving users peace of mind as they engage with the platform. This dynamic fusion
                            of Laravel's robust backend and ReactJS's interactive frontend offers a seamless experience,
                            setting the stage for an unforgettable blogging journey.</div>
                        <ul class="postcard__tagbox">
                            <li class="tag__item"><i class="fas fa-tag mr-2"></i>Laravel</li>
                            <li class="tag__item"><i class="fas fa-clock mr-2"></i>Reactjs</li>

                        </ul>
                    </div>
                </article>

                <article class="postcard dark blue">
                    <a class="postcard__img_link" href="#">
                        <img class="postcard__img" src="assets/images/work/dr-ready.png" alt="Image Title" />
                    </a>
                    <div class="postcard__text">
                        <h1 class="postcard__title blue"><a href="#">Dr Ready In Kashmir (DRIK) </a></h1>
                        <div class="postcard__subtitle small">
                            <p><i>Developed By</i>: Hidayat Ali</p>
                        </div>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">Our cutting-edge platform revolutionizes the healthcare
                            experience by seamlessly integrating online appointment scheduling and doctor availability
                            checking for patients. Moreover, it empowers users with the capability of engaging in
                            real-time, virtual consultations with healthcare professionals, delivering unparalleled
                            convenience and efficiency in accessing medical care from the comfort of their homes.</div>
                        <ul class="postcard__tagbox">
                            <li class="tag__item"><i class="fas fa-tag mr-2"></i>REACT JS</li>
                            <li class="tag__item"><i class="fas fa-tag mr-2"></i>NODE JS</li>
                            <li class="tag__item"><i class="fas fa-clock mr-2"></i>HTML</li>
                            <li class="tag__item play blue">
                                <a href="#"><i class="fas fa-play mr-2"></i>CSS</a>
                            </li>
                        </ul>
                    </div>
                </article>

            </div>
        </section>


    </div>
</div>