<div class="work">
    <h1 class="text-center project-heading"> My All Projects</h1>
    <div class="showCase ">
        <section class="dark">
            <div class="container py-4">


                <article class="postcard dark blue">
                    <a class="postcard__img_link" href="#">
                        <img class="postcard__img" src="https://picsum.photos/1000/1000" alt="Image Title" />
                    </a>
                    <div class="postcard__text">
                        <h1 class="postcard__title blue"><a href="#">KUMAR WORLD</a></h1>
                        <div class="postcard__subtitle small">
                            <p><i>Developed By</i>: Hidayat Ali</p>
                        </div>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia,
                            doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae
                            repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum
                            dolores nobis enim quidem excepturi, illum quos!</div>
                        <ul class="postcard__tagbox">
                            <li class="tag__item"><i class="fas fa-tag mr-2"></i>Anuglar JS</li>
                            <li class="tag__item"><i class="fas fa-clock mr-2"></i>HTML</li>
                            <li class="tag__item play blue">
                                <a href="#"><i class="fas fa-play mr-2"></i>CSS</a>
                            </li>
                        </ul>
                    </div>
                </article>
                <article class="postcard dark red">
                    <a class="postcard__img_link" href="#">
                        <img class="postcard__img" src="https://picsum.photos/501/500" alt="Image Title" />
                    </a>
                    <div class="postcard__text">
                        <h1 class="postcard__title red"><a href="#">PORTFOLIO</a></h1>
                        <div class="postcard__subtitle small">
                            <p><i>Developed By</i>: Hidayat Ali</p>
                        </div>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">Welcome to my portfolio, a testament to my proficiency in
                            crafting dynamic web experiences. Powered by React.js and employing the Context API for
                            seamless state management, every element on this site is designed to engage and impress.
                            Framer Motion adds a touch of elegance with smooth animations, while Material UI ensures a
                            polished and user-friendly interface. Each project showcases my knack for turning ideas into
                            functional, visually appealing solutions. From responsive applications to interactive UI/UX
                            designs, explore a diverse range of work that reflects my dedication to creating standout
                            digital experiences.</div>
                        <ul class="postcard__tagbox">
                            <p><i>Developed By</i>: Hidayat Ali</p>
                        </ul>
                    </div>
                </article>
                <article class="postcard dark green">
                    <a class="postcard__img_link" href="#">
                        <img class="postcard__img" src="https://picsum.photos/500/501" alt="Image Title" />
                    </a>
                    <div class="postcard__text">
                        <h1 class="postcard__title green"><a href="#">Podcast Title</a></h1>
                        <div class="postcard__subtitle small">
                            <p><i>Developed By</i>: Hidayat Ali</p>
                        </div>
                        <div class="postcard__bar"></div>
                        <div class="postcard__preview-txt">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Eligendi, fugiat asperiores inventore beatae accusamus odit minima enim, commodi quia,
                            doloribus eius! Ducimus nemo accusantium maiores velit corrupti tempora reiciendis molestiae
                            repellat vero. Eveniet ipsam adipisci illo iusto quibusdam, sunt neque nulla unde ipsum
                            dolores nobis enim quidem excepturi, illum quos!</div>
                        <ul class="postcard__tagbox">
                            <li class="tag__item"><i class="fas fa-tag mr-2"></i>Podcast</li>
                            <li class="tag__item"><i class="fas fa-clock mr-2"></i>55 mins.</li>
                            <li class="tag__item play green">
                                <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                            </li>
                        </ul>
                    </div>
                </article>

            </div>
        </section>


    </div>
</div>