<div class="about-us container-fluid">
    <div class="container py-5">
        <div class="about-us-btn text-center"><button class="btn">about me</button> </div>
        <div class="row">
            <div class="col-12 col-lg-6 col-md-12">
                <div class="img-left"> <img class="my-img" src="assets/images/hero/herophoto.png" alt="Hidayat Ali logo"
                        class="img-fluid"></div>
            </div>
            <div class="col-12 col-lg-6 col-md-12 about-me-text">
                <h3 id="split">Curious about me? Here you have it:</h3>
                <p> Hidayat Ali a passionate, self-proclaimed designer who specializes in full stack development . I am
                    very
                    enthusiastic about bringing the technical and visual aspects of digital products
                    to life. User experience, pixel perfect design, and writing clear, readable, highly performant code
                    matters to me.</p>

                <p>I began my journey as a web developer in 2020, and since then, I've continued to grow and evolve as a
                    developer, taking on new challenges and learning the latest technologies along the way. Now, in my
                    early thirties, 3 years after starting my web development journey, I'm building cutting-edge web
                    applications using modern technologies such as ReactJs, TypeScript, Angularjs, bootstrap5,PHP,
                    Laravel
                    and much more.</p>

                <p>I am very much a progressive thinker and enjoy working on products end to end, from ideation all the
                    way to development.</p>

                <p>When I'm not in full-on developer mode, you can find me hovering around on twitter or on indie
                    hacker, witnessing the journey of early startups or enjoying some free time. You can follow me on
                    Twitter where I share tech-related bites and build in public, or you can follow me on GitHub.</p>

                <!-- <p>Finally, some quick bits about me.</p> -->

                <!-- <ul class="d-flex gap-5">
                    <div>
                        <li>B.E. in Computer Science Engineering</li>
                        <li>Full time freelancer</li>
                    </div>
                    <div>
                        <li>Avid learner</li>
                        <li>Aspiring indie hacker</li>
                    </div>
                </ul> -->

                <!-- <p>One last thing, I'm available for freelance work, so feel free to reach out and say hello! I promise
                    I don't bite 😉</p> -->
            </div>
        </div>
    </div>
</div>