<div *ngIf="blogPosts.length > 0" class="py-1 latest-blogs">
    <div class="container">
        <div class="text-center py-2">
            <button class="btn latest-btn">Latest Blogs</button>
        </div>
        <div class="row">
            <div class="col-md-4 mb-4" *ngFor="let blogPost of blogPosts">
                <!-- Blog Card -->

                <div class="card text-white card-has-bg click-col"
                    [style.backgroundImage]="'url(' + (blogPost?.featured_image || backgroundImageUrl) + ')'">
                    <!-- <img class="card-img d-none" [src]="blogPost?.featured_image || backgroundImageUrl"
                        class="img-fluid" alt="Blog Photo" /> -->
                    <div class="card-img-overlay d-flex flex-column">
                        <div class="card-body">
                            <small class="card-meta mb-2">{{ blogPost?.title }}</small>
                            <div *ngIf="blogPost">
                                <!-- <div [innerHTML]= "truncateText(blogPost?.excerpt, 20)" class="content-description card-title mt-0"></div> -->
                                <div [innerHTML]="truncateText(blogPost?.excerpt ?? '', 20)"
                                    class="content-description card-title mt-0"></div>
                                <span class="name-description">
                                    <a [routerLink]="['/blog',blogPost.ID, (blogPost?.title)]">
                                        Read more
                                    </a>
                                </span>
                            </div>
                            <small><i class="far fa-clock"></i> {{ blogPost?.date | date: 'MMMM d, yyyy' }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>