@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

/* :root {
  --background-color1: var(--gray-50, #F9FAFB);;
  --background-color2:var(--gray-default, #FFF); 
} */

html[data-theme="dark-theme"] {
  --gray-50: #030712;
  --gray-200: #111827;
  --gray-600: #d1d5db;
  --send-btn: white;
  --button-color: #374151;
  --header-button: white;
  --headding-color: #f9fafb;
  --img-box-shadow: rgba(255, 255, 255, 0.4) 5px 5px,
    rgba(255, 255, 255, 0.3) 10px 10px, rgba(255, 255, 255, 0.2) 15px 15px,
    rgba(255, 255, 255, 0.1) 20px 20px, rgba(255, 255, 255, 0.05) 25px 25px;
  --experience-card: rgb(31, 41, 55);
  --send-btn-color: black;
}

:root {
  --gray-50: #fff; /* Light mode gray-50 */
  --gray-200: #f9fafb; /* Light mode gray-200 */
  --gray-600: #4b5563; /* Light mode gray-600 */
  --button-color: #e5e7eb;
  --header-button: black;
  --headding-color: #111827;
  --img-box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, rgba(0, 0, 0, 0.3) 10px 10px,
    rgba(0, 0, 0, 0.2) 15px 15px, rgba(0, 0, 0, 0.1) 20px 20px,
    rgba(0, 0, 0, 0.05) 25px 25px;
  --bg-green: #79dd09;
  --send-btn: black;
  --send-btn-color: white;
}

.google-search-image {
  border-radius: 100%;
}
