<div class="experience container-fluid pt-2 pb-5 ">

    <div class="container pt-5 ">
        <div class="experience-btn text-center"><button class="btn"> Experience</button></div>
        <p class="experience-summary">Here is a quick summary of my most recent experiences:</p>
        <div class="card experience-card mb-5">
            <div class="card-body">
                <div class="d-flex justify-content-between">

                    <div class="company-name" style="width: 20%;">
                        <img src="assets/images/experience/aharbal-software-solutions-logos-idt7hPt-QN.jpeg" alt=""
                            class="img-fluid w-25">
                    </div>

                    <div class="work-detail ">
                        <p class="designation">Full Stack Developer</p>
                        <ul>


                            <li>doloremque doloribus facere,
                            </li>
                            <li>doloremque doloribus facere,
                            </li>
                        </ul>
                    </div>
                    <div class="duration">
                        <p>Jul 2017 - Oct 2021</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="card experience-card ">
            <div class="card-body">
                <div class="d-flex justify-content-between">

                    <div class="company-name" style="width: 20%;">
                        <img src="assets/images/experience/aharbal-software-solutions-logos-idt7hPt-QN.jpeg" alt=""
                            class="img-fluid w-25">
                    </div>

                    <div class="work-detail ">
                        <p class="designation">Full Stack Developer</p>
                        <ul>

                            <li>doloremque doloribus facere,
                            </li>
                            <li>doloremque doloribus facere,
                            </li>
                        </ul>
                    </div>
                    <div class="duration">
                        <p>Jul 2017 - Oct 2021</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>